<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <title>在庫管理システム</title>
  </head>

  <body>
  
  <header>
    <h1 class="title">T書店 在庫管理システム</h1>
  </header>
  
  <div class="search-container">
    <input [(ngModel)]="searchQuery" class="bar"placeholder="タイトルや著者名を入力してください">

    <label for="janru">商品選択:</label>
<select [(ngModel)]="selectedProduct" name="product" required>
  <!-- メインカテゴリ -->
  <option value="a" class="main-category">書籍</option>
  <option value="a00" class="sub-category">小説</option>
  <option value="a10" class="sub-category">新書</option>
  <option value="a20" class="sub-category">絵本</option>
  <option value="a30" class="sub-category">漫画</option>
  <option value="a40" class="sub-category">雑誌</option>
  <option value="b" class="main-category">DVD/Blu-ray</option>
  <option value="b10" class="sub-category">邦画</option>
  <option value="b20" class="sub-category">洋画</option>
  <option value="b30" class="sub-category">邦ドラマ</option>
  <option value="c" class="main-category">その他</option>
</select>
  
<label for="storeSelect">店舗を選択:</label>
<select id="storeSelect" [(ngModel)]="selectedStore" (change)="onStoreSelect(selectedStore)">
  <option *ngFor="let store of store" [value]="store.id">{{ store.name }}</option>
</select>

<p div class="center-button">
  <button type="button" routerLink="/first-component"　class="search-button">検索</button>
</p>
</div>

  
<footer>
  <p>&copy; 2025 T書店</p>
</footer>

</body>
</html>
