<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在庫管理システム</title>
  </head>

  <body>
  
  <header>
    <h1>T書店 在庫管理システム</h1>
  </header>
  
  <div class="search-container">
    <input type="text" placeholder="本のタイトルや著者名を入力してください" [(ngModel)]="keyword">
    
    <label for="role">ジャンル選択:</label>
    <select [(ngModel)]="selectedJanru" name="janru" required>
      <option value=00>小説</option>
      <option value=10>新書</option>
      <option value=20>絵本</option>
      <option value=30>漫画</option>
      <option value=40>画集</option>
      </select>
  </div>
  <label for="storeSelect">店舗を選択:</label>
  <select id="storeSelect" [(ngModel)]="selectedStore" (change)="onStoreSelect(selectedStore)">
    <option *ngFor="let store of store" [value]="store.id">{{ store.name }}</option>
  </select>

  <div *ngIf="selectedStore">
    <p>選択された店舗ID: {{ selectedStore }}</p>
  </div>

  <app-result></app-result>

<footer>
  <p>&copy; 2025 T書店</p>
</footer>

</body>
</html>
